footer {
  width: 100%;
  bottom: 0;
  position: fixed;
}

.header{
  background: url(../assets/images/mainbackground.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.header .navbar {
  background-color: transparent !important;

}

.form-container{
  background: url(../assets/images/mainbackground.jpg) no-repeat center;
  background-size: cover;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 2px;
	margin: 5vh auto;
}


