<div class="row" *ngIf="profile">
  <div class="col-2">
    <img *ngIf="!profile.avatar" class="img-thumbnail" src="./assets/images/nouserimage.png">
    <img *ngIf="profile.avatar" class="img-thumbnail" src="{{url + 'getAvatar/' + profile.avatar}}">
  </div>
  <div class="col align-self-center">
    <div class="row">
        <h5>
          <b>
            {{profile.name}} {{profile.surname}}
          </b>
        </h5>
    </div>
    <div class="row">
      <span class="badge badge-info">
        {{topics.length}} Topics
      </span>
    </div>
  </div>
</div>
<general-topics [topics]="topics"
[search]="search"></general-topics>
